@media screen and (max-width: 425px) {
    .container {
        display: flex;
    }

    #lezioni .row>.left,
    #lezioni .row>.right,
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 40px; 
    }

   #lezioni .row,
   #why .row {
       background-color: #f2f2cd;
   }

   .container.grey {
       background-color: white;
   }
}