@media screen and (max-width: 768px) {
    .container {
        display: flex;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    h1 {
        width: 100%;
    }

    #lezioni .row>.left,
    #lezioni .row>.right,
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: calc(100% / 2 - 20px);
        margin-top: 10px;
    }

    img {
        min-height: 150px;
    }

    hr {
        border-color:black;
    }

   #lezioni .row,
   #why .row {
        background-color: #f2f2cd;
    }
 
    .container.grey {
        background-color: white;
    }
}

@media screen and (max-width: 425px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        display: flex;
    }

    .row {
        margin-top: 20px;
    }

    #lezioni .row>.left,
    #lezioni .row>.right,
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: 100%;
        margin-top: 10px; 
    }  

    #lezioni .row:first-child {
        margin-top: 0;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        margin-top: 20px
    }

    img {
        height: 150px;
    }
}