@media screen and (max-width: 1000px) {
    #lezioni .row,
    #why .row {
        background-color: #F2F2CD;
    }

    .container.grey {
        background-color: white;
    }

}

@media screen and (max-width: 420px) {
    #lezioni .row>.left,
    #lezioni .row>.right,
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: 100%;
        margin-top: 40px;
    }

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.5em;
    }
}